/* src/GameDetails.css */
.details-container {
    padding: 20px;
    color: #ffffff;
}

.game-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game-description {
    margin-bottom: 20px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-card {
    background-color: #3a3a4a;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 45%; /* Flexível para ocupar espaço */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.info-card h3 {
    margin: 0 0 10px;
    color: #00bcd4; /* Cor futurista */
}

.game-media {
    margin-top: 20px;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.screenshot-image {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    border-radius: 5px;
    max-height: 400px; /* Limite a altura das imagens */
    object-fit: cover; /* Cobre o espaço do contêiner */
}

.video-container {
    margin-top: 10px;
}

video {
    width: 100%; /* Ajuste o tamanho do vídeo */
    border-radius: 5px;
}
